<a href="https://colab.research.google.com/github/htmribeiro/htmr_python-course/blob/master/%5BCursoEmV%C3%ADdeo%5D_Curso_de_Python_3_2_Tratando_dados_e_fazendo_contas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CURSO DE PYTHON 3 - MUNDO 1: FUNDAMENTOS**  
http://www.cursoemvideo.com

#**2 Tratando dados e fazendo contas**

## Curso Python #06 - Tipos Primitivos e Saída de Dados

Nessa aula, vamos aprender como funcionam os tipos primitivos no Python e as peculiaridades do `int()` `float()` `bool()` e `str()`. Além disso, veremos como fazer as primeiras operações com a função `print()` do Python.

### TEORIA

**4 Tipos primitivos básicos** 

`int()` => números inteiros (7, -4, 0, 9875)  
`float` => números com ponto flutuante | número Real (4.5, 0.076, -15.223, 7.0)  
`bool` => tipo booleano (verdadeiro/True ou falso/False)  
`str()` => valores tipo caracteres/strings ('Olá', '7.5', '')  



```
n1 = int(input('Digite um número: '))
n2 = int(input('Digite um número: '))
s = n1 + n2
print('A soma vale', s)
```

**Nova Sintáxe do método `print()` do Python 3**

**`.format()`**  

É inserido um parte de chaves `{}` que chamamos de "máscara" que será substituído pelo método da própria string.

```
print('A soma vale {}'.format(s))
```

### PRÁTICA

Aula6a

In [0]:
n1 = input('Digite um valor: ')
print(type(n1))

Digite um valor: 5
<class 'str'>

In [0]:
n1 = int(input('Digite um valor: '))
print(type(n1))

Digite um valor: 5
<class 'int'>

In [0]:
n1 = int(input('Digite um valor: '))
n2 = int(input('Digite outro valor: '))
s= n1 + n2
print('A soma entre {} e {} vale {}.'.format(n1, n2, s))

Digite um valor: 6
Digite outro valor: 2
A soma entre 6 e 2 vale 8.

Aula06b

In [0]:
n = bool(input('Digite um valor: '))
print(n)

Digite um valor: 4
True

No exemplo acima, ele verifica se existe algum valor dentro da váriável e retorna que é **verdadeiro**.  
Se não for digitado nenhum valor ele retornará **falso**.

In [0]:
n = float(input('Digite um valor: '))
print(n)

Digite um valor: 4
4.0

No exemplo acima, será retornado o valor inteiro que digitado, porém com o ponto flutuante.

In [0]:
n = str(input('Digite um valor: '))
print(type(n))

Digite um valor: 6
<class 'str'>

No exemplo acima, foi digitado um número porém se consultamos o `type()` desse valor, ele nos informa que é uma string.

In [0]:
n = input('Digite algo: ')
print(n.isnumeric())

Digite um valor: 4.0
False

No exemplo acima, retorna **verdadeiro** se o que foi armazenado na variável, é possível converter em valores numéricos, caso contrário retornará **falso**.

In [0]:
n = input('Digite algo: ')
print(n.isalpha())

Digitte algo: 123
False

No exemplo acima, retorna **True** se todos os caracteres em **n** forem alfabéticos e houver pelo menos um caractere em **n**, **False** caso contrário.

In [0]:
n = input('Digite algo: ')
print(n.isalnum())

Digite algo: abc123
True

No exemplo acima, retorna **True** se todos os caracteres em **n** forem alfanuméricos e houver pelo menos um carctere em **n**, **False** caso contrário.

### DESAFIOS

#### Desafio 003
Crie um script Python que **leia** *dois números* e tente mostrar a soma entre eles.

In [0]:
print('============= DESAFIO 03 ==============')
print('Digite dois números para calcular a soma.')
n1 = int(input('Digite o primeiro valor: '))
n2 = int(input('Digite o segundo valor: '))

s = n1 + n2

print('A soma entre o primeiro valor ({}) e o segundo valor ({}) é igual a {}.'.format(n1, n2, s))

============= DESAFIO 03 ==============
Digite dois números para calcular a soma.
Digite o primeiro valor: 8
Digite o segundo valor: 16
A soma entre o primeiro valor (8) e o segundo valor (16) é igual a 24.

#### Desafio 004
Faça um programa que leia algo pelo teclado e mostre na tela o seu tipo primitivo e todas as informações possíveis sobre ele. (utilizando os métodos "is")

In [0]:
print('============= DESAFIO 04 ==============')
print('Digite qualquer informação.')
n = input('Digite algo: ')